<table class="table table-striped Tableaddtocart">
    <tr class="addtocard Tableaddtocart">
        <th class="addtocard Tableaddtocart">
            ID
        </th>
        <th class="addtocard Tableaddtocart">
            Product Name
        </th>
        <th class="addtocard Tableaddtocart">
            Price
        </th>
        <th class="addtocard Tableaddtocart">
            Quantity
        </th>
        <th class="addtocard Tableaddtocart">
            Producer
        </th>
        <th class="addtocard Tableaddtocart">
            Delete
        </th>
    </tr>

    <tr class="Tableaddtocart" *ngFor="let item of mybasket">
        <td class="Tableaddtocart">
            {{order.Id}}:{{item.Id}}
        </td>
        <td>
            {{item.ProductName}}
            <img class="img" src="{{item.Product.PictrureId}}"/>
        </td>
        <td class="Tableaddtocart">
            {{item.Price}}
        </td>
        <td class="Tableaddtocart">
            {{item.Quantity}}
        </td>
        <td>
            {{item.Product.ProducerName}}
        </td>
        <td>
            <button type="button" class="btn btn-xs btn-warning" (click)="delete(item.Id,$event);"><i class="glyphicon glyphicon-trash"></i></button>
        </td>
    </tr>
    <tr>
        <td colspan="4"><button type="button" class="btn btn-lg btn-primary">Update basket</button></td>
    </tr>
</table>
            