<nav class="navbar navbar-inverse">
    <div class="container-fluid" style="background-color:#e114d0 !important">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li *ngIf="auth.loggedIn()">
                    <a routerLink="/productlist">Hello {{auth.getUserName()}}</a>
                </li>
                <li *ngFor="let item of productTypes" [class.active]="linkItem.classList.contains('active')">
                    <a #linkItem routerLinkActive="active" routerLink="/productlist/{{item.Id}}/0">{{item.Name}}</a>
                </li>
                <li [class.active]="linkUsers.classList.contains('active')">
                    <a #linkUsers routerLink="/userlist">Users</a>
                </li>
                <li [class.active]="linkProducts.classList.contains('active')">
                    <a #linkProducts routerLink="/products" routerLinkActive="active">Products</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                <li (click)="loginlogout()" *ngIf="!auth.loggedIn()"><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li (click)="loginlogout()" *ngIf="auth.loggedIn()"><a><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                <li><a routerLink="/shoppingcart">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span class="badge">{{myOrderItems}}</span>Cart
                </a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid" style="background-color:white !important">
        <div class="col-sm-4" >
            <div class="input-group" style="width:300px">
                <input maxlength="20"  style="width:300px" type="text" 
                       class="form-control" 
                       aria-label="Find" 
                       #filter 
                       (keyup)="find(filter.value);" 
                       placeholder="Find product(s)">
                <div class="input-group-btn">
                    <button type="button" style="height: 38px;width:38px" class="glyphicon glyphicon-search"></button>
                </div>
            </div>
        </div>
    </div>
</nav>
