<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
      
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

       
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a  routerLink="/">Users</a></li>
                <li><a routerLink="/products">Products</a></li>                
            </ul>
        </div>
        <div>
            <ul class="nav nav-pills nav-stacked left-menu">
                <li role="presentation" class="active" *ngFor="let item of productTypes">
                    <a routerLink="/productlist/{{item.Id}}">{{item.Name}}</a> 
                </li>
            </ul>
         </div>   
    </div>
</nav>-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid" style="background-color:#e114d0 !important">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            <a class="navbar-brand" routerLink="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a routerLink="">Home</a></li>
                <li *ngFor="let item of productTypes" [class.active]="linkItem.classList.contains('active')">
                    <a #linkItem routerLinkActive="active" routerLink="/productlist/{{item.Id}}/0">{{item.Name}}</a>
                </li>
                <li [class.active]="linkUsers.classList.contains('active')">
                    <a #linkUsers routerLink="/">Users</a>
                </li>
                <li [class.active]="linkProducts.classList.contains('active')">
                    <a #linkProducts routerLink="/products" routerLinkActive="active">Products</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a routerLink="/shoppingcart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid" style="background-color:white !important">
        <div class="col-sm-4" >
            <div class="input-group" style="width:600px">
                <input maxlength="20"  style="width:600px" type="text" 
                       class="form-control" 
                       aria-label="Find" 
                       #filter 
                       (keyup)="find(filter.value);" 
                       placeholder="Find product(s)">
                <div class="input-group-btn">
                    <button type="button" style="height: 38px;width:38px" class="glyphicon glyphicon-search"></button>
                </div>
            </div>
        </div>
    </div>
</nav>
