<div class="container">
    <loading [isLoading]="isLoading"></loading>
    Hello {{userName}}
    <div class="row">
        <div class="col-sm-4" *ngFor="let item of products">
            <div class="panel panel-primary">
                <div class="panel-heading">{{item.ProductTypeName}}</div>
                <div class="panel-body">
                    <img src="{{item.PictrureId}}" class="img-thumbnail"
                         style="min-height: 140px; max-height: 140px;" alt="Image">
                </div>
                <div class="panel-body">
                    {{item.Name}}
                </div>
                <div class="panel-footer">{{item.Price}}</div>
                <div class="panel-footer">
                    <heart [isFavourite]="item.IsFavoutite" (change)="changeFavourite($event,item)"></heart>
                    <i class="fa fa-cart-plus fa-2x" aria-hidden="true" (click)="addToCart(item)"></i>
                </div>
            </div>
        </div>
    </div>
</div>
